@media screen and (max-width: 1368px) {
    .a{
        height: 200px;
    }

    .inner-container{
        flex-direction: column;
    }
    .bcdefg-container{
        width: 100%;
        height: 300px;
    }
    .box{
        width: 33.3%;
        height: 150px;
    }
    .h{
        width: 100%;
        height: 300px;
    }

}